        <com.nirima.jenkins.plugins.docker.utils.DockerDirectoryCredentials plugin="docker-plugin@0.16.1">
          <scope>GLOBAL</scope>
          <id>{{ group_names[1] }}</id>
          <description></description>
          <path>{{ automated_docker_jenkins_master_container_slave_cert_path }}</path>
        </com.nirima.jenkins.plugins.docker.utils.DockerDirectoryCredentials>
