{
  "rabbitmq": {
    "host": "{{ automated_docker_sensu_client_rabbitmq_host }}",
    "vhost": "{{ automated_docker_sensu_client_rabbitmq_vhost }}",
    "user": "{{ automated_docker_sensu_client_rabbitmq_username }}",
    "password": "{{ automated_docker_sensu_client_rabbitmq_password }}"
  }
}
