{
  "sensu": [
    {
      "name": "{{ automated_docker_sensu_uchiwa_name }}",
      "host": "{{ automated_docker_sensu_uchiwa_host }}",
      "port": {{ automated_docker_sensu_uchiwa_port }}
    }
  ],
  "uchiwa": {
    "host": "0.0.0.0",
    "port": 3000
  }
}
