{
  "rabbitmq": {
    "host": "{{ automated_docker_sensu_rabbitmq_host }}",
    "vhost": "{{ automated_docker_sensu_rabbitmq_vhost }}",
    "user": "{{ automated_docker_sensu_rabbitmq_username }}",
    "password": "{{ automated_docker_sensu_rabbitmq_password }}"
  }
{% if automated_docker_name == 'sensu_server' %}
  ,"redis": {
    "host": "{{ automated_docker_sensu_server_redis_host }}"
  },
  "api": {
    "host": "{{ automated_docker_sensu_server_api_host }}",
    "port": {{ automated_docker_sensu_server_api_port }},
    "bind": "0.0.0.0"
  }
{% endif %}
}
